h2 {
    text-align: center;
}

#start-platform-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-platform-name {
    font-size: 30px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#end-platforms button {
    width: 50%;
    margin-left: 25%;
}

.select-platform {
    background-color: #6a5acd !important;
}

