#start-platform-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-platform-name {
    font-size: 30px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
